body {
  background-color: 009900;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

img {
  border-radius: 5px;
  height: 140px;
  width: 100px;
  top: -9px;
  /*margin: 9px;*/
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
